<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<!-- Login Section -->
    <img class="img-responsive" src="/images/orangeBanner.jpg" alt="banner"/>
    <div class="container">
        <div class="row ">
            <div class="main-center ">
                <div class="bg-danger" th:if="${param.error}">Zły login lub hasło.
                </div>
                <div class="bg-danger" th:if="${param.logout}">Zostałeś pomyślnie wylogowany.
                </div>
                <form class="form-signin" th:action="@{/index}" method="post">
                    <h2 class="form-signin-heading">Logowanie</h2>
                    <div class="form-group">
                        <label for="username" class="sr-only">Nazwa użytkownika</label>
                        <input type="text" roleId="username" class="form-control" placeholder="Nazwa użytkownika" name="username"
                               id="username"
                               required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <label for="password" class="sr-only">Hasło</label>
                        <input type="password" roleId="inputPassword" class="form-control" placeholder="Hasło"
                               id="password"
                               name="password" required="required"/>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me"/> &nbsp; Zapamiętaj mnie
                    </div>
                    <div class="row" style="height: 50px!important; background-color: white!important;"></div>
                    <button class="btn btn-lg btn-block orange-border-button" type="submit">Zaloguj się</button>
                </form>
                
                <hr />
                
                <div class="form-group ">
                    <a type="submit" class="btn btn-lg btn-block login-button orange-border-button" th:href="@{/signup}">Zarejestruj się</a>
                </div>
            </div>
        </div>
    </div>

<div th:replace="common/header :: body-bottom-scripts"/>
<footer><img class="img-responsive" src="/images/footer.png" alt="banner"/></footer>
</body>
</html>
