<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-lg-12"></div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2 class="typical-font-size">Saldo główne: </h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h1>
                                <i class="fa fa-usd" aria-hidden="true" style="font-size: 23px!important;"></i>
                                <span th:text="${primaryAccount.accountBalance}" class="typical-font-size"></span>
                            </h1>
                        </div>
                    </div>
                </div>
                <a th:href="@{/account/primaryAccount}" class="main-href-element">
                    <div class="panel-footer main-element">
                        <span class="pull-left">Pokaż szczegóły</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
            <div class="col-lg-6 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <h2 class="typical-font-size">Oszczędności: </h2>
                        </div>
                        <div class="col-xs-6 text-right">
                            <h1>
                                <i class="fa fa-usd" aria-hidden="true" style="font-size: 23px!important;"></i>
                                <span th:text="${savingsAccount.accountBalance}" class="typical-font-size">...</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <a th:href="@{/account/savingsAccount}" class="main-href-element">
                    <div class="panel-footer main-element">
                        <span class="pull-left">Pokaż szczegóły</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
            </div>
    </div>

    <div class="blank-row"></div>

    <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-credit-card-alt fa-4x"></i>
                        </div>
                    </div>
                </div>
                <a th:href="@{/account/deposit}" class="main-href-element">
                    <div class="panel-footer main-element">
                        <span class="pull-left">Zdeponuj</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6" style="float:right;">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-money fa-4x"></i>
                        </div>
                    </div>
                </div>
                <a th:href="@{/account/withdraw}" class="main-href-element">
                    <div class="panel-footer main-element">
                        <span class="pull-left">Wypłać</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->


</div>


<div th:replace="common/header :: body-bottom-scripts"/>
<footer><img class="img-responsive" src="/images/footer.png" alt="banner"/></footer>

</body>
</html>
